<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Grand Room Design{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {{ "bootstrap.css" | asset_url | stylesheet_tag }}
        {{ "theme.css" | asset_url | stylesheet_tag }}
    </head>
    <body id="{{mixture.url}}">
        {% include "navigation" %}
        <div class="container content">
            {% block content %}{% endblock %}
        </div>
        {% include "footer" %}
        <script src="http://code.jquery.com/jquery.min.js"></script>
        {{ "bootstrap.js" | asset_url | script_tag }}
        {{ "holder.min.js" | asset_url | script_tag }}
    </body>
</html>