{% block content %}
</div><!--/.containter-->
<div class="container-fluid">
	<div class="row">
		<div class="hero">
			<div class="hero__image">
				<img src="holder.js/100px600?text=Featured Image">
			</div>
		</div>
	</div>		
</div><!--/.fluid-->

	<div class="container">

		<div class="row">
			<div class="col-md-5 text-center">
				<h2>Amet Vulputate Elit<br><small>Description Magna Consectetur Risus Tristique Sem</small></h2>
				<p class="cta--text lead">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>
				<p><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Enquire about our services</button></p>
			</div>

			<div class="col-md-7">
				<div class="testimonials text-center">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

						<!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
						  	{% for slide in model.slides %}
							    <div class="item {{ slide.class }}">
							        <img class="img-circle" src="holder.js/120x120?text=Profile">
							        <h3>{{ slide.name }}
							        <br>
							        <small>{{ slide.role }} </small></h3>
							        <blockquote>
							          <p>"{{ slide.content }}"</p>
							        </blockquote>
							    </div>
						    {% endfor %}
						  </div>

						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						</a>

					</div>
				</div>
			</div>			
		</div>	
			
		<div class="row">
			<div class="col-md-10 col-md-offset-1">

				<div class="row">
					<div class="col-md-12">
						<br><hr><br>
						<img src="holder.js/100px400?text=Image">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-4">
						<img src="holder.js/100px400?text=Image">
					</div>
					<div class="col-md-4">
						<img src="holder.js/100px400?text=Image">
					</div>
					<div class="col-md-4">
						<img src="holder.js/100px400?text=Image">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<img src="holder.js/100px400?text=Image">
					</div>
					<hr>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<br><hr><br>
				<h3 class="text-center">View More Of Our Featured Work</h3>
				<hr>
				<div class="row">
					{% for item in model.items %}
				  		<div class="col-md-6">
							<div class="thumbnail">
					  			<a href="/single"><img src="holder.js/500x250?text=Teaser Image"></a>
					  			<div class="caption">
									<a href="/single"><h3>{{ item.title }}<br><small>{{ item.description }}</small></h3></a>
									<p>{{ item.excerpt }}</p>
									<a href="/single" class="btn btn-link">View More <i class="fa fa-long-arrow-right"></i></a>
					  			</div>
							</div>
				  		</div>
				  	{% endfor %}
				</div>
			</div>
		</div>



{% endblock %}